.component_card {
    top: 0px;
    left: 0px;
    width: 10em;
    position: absolute;
    display: inline-block;
    border-radius: 1em;
    transform-style: preserve-3d;

    border: 1px solid rgba(0,0,0,.12);
    boxShadow: 0 4px 15px rgba(0,0,0,0.24);
}

.component_card-front,
.component_card-back {
    width: 100%;
    backface-visibility: hidden;
    display: inline-block;
    border-radius: inherit;
}

.component_card-front {
    transform: rotateX(0deg);
}

.component_card-back {
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-size: 500%;
}
